* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  min-height: 100%;
  font: 13px helvetica, arial, freesans, clean, sans-serif;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #f3f3f3;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 22px; */
}

nav img {
  height: 15px;
}

nav ul,
footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0 3px;
  font-weight: bold;
}

nav a:link,
nav a:active,
nav a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #4183c4;
}

#cat-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.picture-box {
  margin: 12px;
}

.caption {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: solid 1px #cacaca;
}

.caption::before {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  right: 6px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #cacaca;
}

.cats {
  max-width: 424px;
  border: solid 1px #cacaca;
  border-radius: 3px;
}

.cats img {
  padding: 9px;
  width: 100%;
  height: auto;
}

.pic-number {
  flex-grow: 2;
  color: #acacac;
  font-weight: bold;
  font-size: 16px;
}

.caption-title {
  font-weight: bold;
}

.caption img {
  margin-left: 5px;
  width: 28px;
  height: 28px;
  overflow: visible;
}

footer {
  min-height: 22px;
  border-top: 1px solid #cacaca;
  margin: 100px 10px 0;
  padding: 15px 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #777;
}

footer > * {
  width: 33.3%;
}

footer > a {
  align-self: center;
  text-align: center;
}

footer > p {
  text-align: right;
}

footer ul li {
  margin-right: 20px;
  font-size: 12px;
}

footer ul a:active,
footer ul a:visited,
footer ul a:link {
  color: #4183c4;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.fa {
  color: #ccc;
  position: relative;
  margin: 0 auto;
}

.fa:hover {
  color: #bbb;
}

@media (min-width: 477px) {
  nav {
    padding: 15px 20px;
  }

  nav img {
    height: 22px;
  }

  nav li {
    padding: 0 5px;
  }

  .cats {
    max-width: 100%;
  }
}

@media (min-width: 900px) {
  .cats {
    width: 424px;
  }
}
